.square {
  background: $square-color;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 0.5em;
  vertical-align: top;
  border-radius: 15px;
  color: $text-color;
  transition: all 0.4s ease-in-out;

  &:hover {
    background: lighten($square-color, 30%);
  }

}

.board {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: rgba(#005500, 0.5);
  padding: 1em 2em;
}

.row {
}