
@import 'atoms/square';
@import 'settings';


.board {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: $board-color;
  padding: 3em 4em;
  border-radius: 20px;
  box-shadow: 0 0 50px #666 inset;
}

.row {
}