header {
  text-align: center;
  margin-bottom: 1.5em;

  h1 {
    @include set-font-size(64px);
    @include trailing-border(0.5, 3px solid $header-color);
    color: $header-color;

  }

  a.source-code {
    @include set-font-size(20px);
    color: purple;
    text-decoration: none;
    &:hover {
      color: #333;
    }
  }

}

