@import 'mixinsCompass';
@import url(https://fonts.googleapis.com/css?family=Quantico);
@include establish-baseline;



// font
@mixin base-font() {
  font-family: 'Quantico', sans-serif;
}

$square-color: #2A5161;
$text-color: #E7E7E7;
$square-user: green;
$square-comp: red;
$board-color: silver;
$open-color: #9CFFED;
$header-color: #2B330A;
$taken2: #E09A2C;
$marker-color: #A4A440;
$wood: #cc9966;

html {
  box-sizing: border-box;
  @include base-font()
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $wood;
}
