@import 'mixinsCompass';
@import url(https://fonts.googleapis.com/css?family=Quantico);
@include establish-baseline;



// font
@mixin base-font() {
  font-family: 'Quantico', sans-serif;
}

$square-color: #2A5161;
$text-color: white;
$square-user: green;
$square-comp: red;
$board-color: silver;
$open-color: #9CFFED;
$taken-color: #91AB23;
$taken2: #E09A2C;


html {
  box-sizing: border-box;
  @include base-font()
}

*, *:before, *:after {
  box-sizing: inherit;
}
