@import 'atoms/marker-picker';
@import 'atoms/settings-header';

.settings {
  position: relative;
  padding: 0.5em;
  transition: all 0.7s linear;


  &.active {
    transform: translate(-1000px)
  }


}